.about-card {
	display: flex;
	align-items: center;
	gap: var(--mantine-spacing-sm);
	border-radius: var(--mantine-radius-default);
	padding: var(--mantine-spacing-md);
	border: 1px solid var(--mantine-color-default-border);
	.about-card-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 64px;
		min-height: 64px;
		border-radius: var(--mantine-radius-default);
		background-color: var(--mantine-color-yellow-0);
	}

	.about-card-icon svg {
		width: 32px;
		height: 32px;
	}
}
