.header {
	grid-area: header;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: var(--mantine-color-white);
	border-bottom: 1px solid var(--mantine-color-default-border);

	&-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}

	&-contact-button {
		display: block;
		@media (max-width: 768px) {
			display: none;
		}
	}

	&-mobile-toggle {
		display: none;

		@media (max-width: 768px) {
			display: block;
		}
	}
}
