.footer {
	grid-area: footer;
	border-top: 1px solid var(--mantine-color-default-border);
	text-align: center;

	&-container {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 100%;
	}
}
